<html>
    <body>
        <form action="/produtos/salva" method="post">
            <div>
                <label for="titulo">Título</label>
                <input id="titulo" type="text" name="titulo" placeholder="informe o titulo">
            </div>
            <div>
                <label for="">Preço</label>
                <input id="preco" type="text" name="preco" placeholder="informe o preço">
            </div>
            <div>
                <label for="descricao">Descrição</label>
                <input id="descricao" type="text" name="descricao" placeholder="informe a descricao">
            </div>
            <input type="submit" value="Salvar">
        </form>
    </body>
</html>